* {
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

div, section, aside, header, footer, main, p, form, h1, h2, h3, h4, h5, h6 {
    display: block;
    width: 100%;
}

ul {
    padding-left: 20px;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 15px 0;
}

p {
    line-height: 1.5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.row_center {
    align-items: center;
}

.header {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 10px;
}

.nav__item {
    color: #404040;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}

.nav__icon {
    width: 9px;
    margin-left: 3px;
    fill: #3a3a3a;
}

.search__icon {
    display: block;
    width: 100%;
    max-width: 20px;
    fill: #3a3a3a;
}

.search {
    max-width: 40px;
}

.auth {
    display: flex;
    align-items: center;
    max-width: 250px;
}

.auth__btn {
    color: #666;
    font-weight: 700;
    background-color: #fff;
    margin-left: 8px;
    padding: 8px 20px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}

.auth__btn_black {
    color: #fff;
    background-color: #000;
}

.container_main {
    justify-content: center;
}

.title {
    color: #404040;
    font-size: 45px;
    line-height: 1;
    max-width: 560px;
    margin-top: 0;
}

.post {
    flex: 1 0;
    background-color: #fff;
    max-width: 880px;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 30px;
    padding: 40px 0;
    border-radius: 16px;
    box-shadow: 0 1px 16px 10px rgb(64 64 64 / 8%);
}

.post__row {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.post__block {
    padding: 0 30px;
}

.tag {
    color: #666;
    font-weight: 700;
    display: inline-block;
    width: auto;
    margin-bottom: 25px;
    padding: 5px 25px;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
}

.post__item_first {
    max-width: 170px;
    margin-right: 30px;
}

.post__item_first p {
    font-size: 14px;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 154px;
    padding: 5px;
}

.logo__img {
    width: 100%;
}

.logo__text {
    font-size: 25px;
    font-weight: 700;
}

.soc {
    display: flex;
    align-items: center;
    max-width: 560px;
}

.soc__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    height: 40px;
    margin: 15px 15px 15px 0;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}

.soc__item_last {
    margin-left: auto;
}

.soc__svg {
    flex: 1 0 100%;
    width: 100%;
    max-width: 20px;
    height: 20px;
    fill: #666;
}

.footer {
    color: #fff;
    align-self: flex-end;
    background: #222;
    margin-top: 20px;
    padding: 5px 0;
}

.footer__container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer__text {
    text-align: center;
}

.link {
    color: red;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 20px 0;
}

@media screen and (max-width: 991px) {

    .nav {
        display: none;
    }

    .title {
        font-size: 32px;
        line-height: 1.2;
        margin: 10px 0;
    }

    .post {
        flex: 1 0 100%;
        margin: 30px 0;
    }

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {

    .post-title {
        font-size: 32px;
        line-height: 1.3;
    }

    .container_main {
        padding: 0;
    }

    .post {
        padding: 20px 0;
    }

    .post__row,
    .post__block {
        padding: 0 15px;
    }

    .title {
        font-size: 24px;
    }

    .auth {
        justify-content: flex-end;
    }

    .auth__btn {
        display: none;
    }

    .tag {
        display: none;
    }

    .post__row {
        flex-wrap: wrap;
    }

    p, h2, h3 {
        line-height: 1.3;
    }

    h2 {
        font-size: 20px;
    }

    .link {
        font-size: 20px;
    }
}

.product {
    max-width: 400px;
    margin: 0 auto;
}